@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	/* Measurements */
	--desktop-min-width: 1024px;
	--mobile-max-width: 768px;

	/* Colors */
	--color-background: #fff5ec;
	--color-text-primary: #884e41;
}

@font-face {
	font-family: Newsreader;
	font-style: normal;
	src: url('/fonts/Newsreader-VariableFont_opsz,wght.ttf');
}

@font-face {
	font-family: Newsreader;
	font-style: italic;
	src: url('/fonts/Newsreader-Italic-VariableFont_opsz,wght.ttf');
}

body {
	background-color: var(--color-background);
	font-family: Newsreader, serif;
	color: var(--color-text-primary);
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-style: italic;
	font-weight: 700;
	font-size: 2.5rem;
	margin-bottom: 1.2em;
}

p {
	font-size: 1.25rem;
	margin-bottom: 1.2em;
}

@media not all and (min-width: 1024px) {
	h1 {
		font-size: 2rem;
	}

	p {
		font-size: 1.125rem;
	}
}
